In [31]:
!curl https://raw.githubusercontent.com/mosesyhc/de300-2025sp-class/refs/heads/main/agnews_clean.csv -O

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 33.2M  100 33.2M    0     0  50.3M      0 --:--:-- --:--:-- --:--:-- 50.3M

In [32]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder
         .master("local[*]")
         .appName("AG news")
         .getOrCreate()
        )

agnews = spark.read.csv("agnews_clean.csv", inferSchema=True, header=True)

# turning the second column from a string to an array
import pyspark.sql.functions as F
from pyspark.sql.types import ArrayType, StringType
agnews = agnews.withColumn('filtered', F.from_json('filtered', ArrayType(StringType())))

In [33]:
# each row contains the document id and a list of filtered words
agnews.show(10, truncate=30)

+---+------------------------------+
|_c0|                      filtered|
+---+------------------------------+
|  0|[wall, st, bears, claw, bac...|
|  1|[carlyle, looks, toward, co...|
|  2|[oil, economy, cloud, stock...|
|  3|[iraq, halts, oil, exports,...|
|  4|[oil, prices, soar, time, r...|
|  5|[stocks, end, near, year, l...|
|  6|[money, funds, fell, latest...|
|  7|[fed, minutes, show, dissen...|
|  8|[safety, net, forbes, com, ...|
|  9|[wall, st, bears, claw, bac...|
+---+------------------------------+
only showing top 10 rows

In [34]:
def get_tf(agnews):
  from pyspark.sql.functions import explode, col, size, count

  exploded = agnews.select("_c0", explode("filtered").alias("term")) #making each of the filtered terms into its own rows
  doc_lengths = agnews.select("_c0", size("filtered").alias("doc_len")) #computing the length of each of the rows within the agnews dataset
  term_counts = exploded.groupBy("_c0", "term").agg(count("*").alias("term_count")) #computing the number of terms in each document (keyed by document id)

  tf = term_counts.join(doc_lengths, on="_c0")
  tf = tf.withColumn("tf", col("term_count") / col("doc_len")) #computing the tf term for each word in each document

  return tf #haha the fuck (sorry im delusional atm)

In [35]:
def get_idf(agnews):
  from pyspark.sql.functions import explode, col, countDistinct, log, lit

  distinct_terms = agnews.select("_c0", explode("filtered").alias("term")).dropDuplicates() #we only care about the unique terms in each, i.e. the unique words in each document
  df_counts = distinct_terms.groupBy("term").agg(countDistinct("_c0").alias("df")) #getting the number of times each word appears in different documents
  N = agnews.select("_c0").distinct().count() #number of documents

  idf = df_counts.withColumn("idf", log(lit(N) / col("df"))) #combining to get idf
  return idf

In [36]:
from pyspark.sql.functions import col
def get_tf_idf(agnews):
  tf = get_tf(agnews) #using functions made earlier
  idf = get_idf(agnews) #using functions made earlier
  tf_idf = tf.join(idf, on="term", how="inner")   # Join on term

  # Compute tf-idf

  tf_idf = tf_idf.withColumn("tf_idf", col("tf") * col("idf")) #create new column called tf_idf

  return tf_idf

In [37]:
tf_idf = get_tf_idf(agnews) #checking results
tf_idf.show(10)

+---------+-----+----------+-------+--------------------+----+------------------+-------------------+
|     term|  _c0|term_count|doc_len|                  tf|  df|               idf|             tf_idf|
+---------+-----+----------+-------+--------------------+----+------------------+-------------------+
|   online|42468|         1|     26|0.038461538461538464|2444|3.9552643296013406|0.15212555113851312|
|   online|45307|         1|     28| 0.03571428571428571|2444|3.9552643296013406|0.14125944034290502|
|   online|23364|         1|     13| 0.07692307692307693|2444|3.9552643296013406|0.30425110227702623|
|    still|36538|         1|     58|0.017241379310344827|2281|4.0242864276084385|0.06938424875186963|
|    still|26425|         1|     31| 0.03225806451612903|2281|4.0242864276084385|0.12981569121317543|
|    still| 1238|         1|     21|0.047619047619047616|2281|4.0242864276084385|0.19163268702897324|
|arguments|56741|         1|     19| 0.05263157894736842|  91| 7.245796143375976| 0.3813576917566303|
|   travel|29814|         1|     22|0.045454545454545456| 453| 5.640763524409793|0.25639834201862693|
|  barrier|22097|         1|     38| 0.02631578947368421|  69| 7.522549145295567|0.19796181961304124|
| vladimir| 2866|         1|     17|0.058823529411764705| 395| 5.777769884991705|0.33986881676421793|
+---------+-----+----------+-------+--------------------+----+------------------+-------------------+
only showing top 10 rows

In [38]:
from pyspark.sql.functions import struct, collect_list

#GETTING OUTPUT IN DESIRED WAY

tf_idf = get_tf_idf(agnews) #using function made earlier
tfidf_struct = tf_idf.select("_c0", struct("term", "tf_idf").alias("tfidf_term")) #creating tf-idf struct (it is mapping a term name to a number)
tfidf_grouped = tfidf_struct.groupBy("_c0").agg(collect_list("tfidf_term").alias("tfidf_vector")) #group the struct by document name
agnews_with_tfidf = agnews.join(tfidf_grouped, on="_c0", how="left") #merge with original document

agnews_with_tfidf.select("_c0", "filtered", "tfidf_vector").show(5, truncate=False)

+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|_c0  |filtered                                                                                                                                                                                                                                          |tfidf_vector                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1    |[carlyle, looks, toward, commercial, aerospace, reuters, reuters, private, investment, firm, carlyle, group, reputation, making, well, timed, occasionally, controversial, plays, defense, industry, quietly, placed, bets, another, part, market]|[{investment, 0.1890771769001148}, {commercial, 0.2057832028092643}, {reputation, 0.2578098186776328}, {group, 0.12468100563149095}, {plays, 0.22418048797172685}, {reuters, 0.1650267812443044}, {firm, 0.15969712503706046}, {private, 0.1929050573011279}, {occasionally, 0.33274321954270536}, {market, 0.13394932212703356}, {part, 0.16022031730914288}, {bets, 0.27861293130724324}, {placed, 0.2284965552404658}, {looks, 0.1973537176743789}, {quietly, 0.25188254045524316}, {making, 0.1698717076460444}, {industry, 0.15043731768548949}, {aerospace, 0.2581171817448437}, {toward, 0.1898997183872362}, {carlyle, 0.7168306746824437}, {timed, 0.324478643568105}, {defense, 0.1751279339938823}, {well, 0.17053284421704767}, {another, 0.14507889141437585}, {controversial, 0.20949395177306526}]|
|3    |[iraq, halts, oil, exports, main, southern, pipeline, reuters, reuters, authorities, halted, oil, export, flows, main, pipeline, southern, iraq, intelligence, showed, rebel, militia, strike, infrastructure, oil, official, said, saturday]     |[{exports, 0.2146590164054526}, {infrastructure, 0.22959926718225876}, {reuters, 0.15913296762843637}, {militia, 0.2252006141545402}, {official, 0.15149485319300557}, {halts, 0.27365396741681164}, {said, 0.06593367258642661}, {southern, 0.336553609483104}, {rebel, 0.18209445014364567}, {oil, 0.35763832555989516}, {showed, 0.1743365558077232}, {pipeline, 0.4720829409342409}, {iraq, 0.23809526243476142}, {authorities, 0.18159366801541998}, {export, 0.23862435123782139}, {main, 0.36492623402353547}, {flows, 0.2774168429760197}, {saturday, 0.12197305137253434}, {intelligence, 0.20782569445751425}, {halted, 0.2557691357056513}, {strike, 0.17411586950893898}]                                                                                                                            |
|5    |[stocks, end, near, year, lows, reuters, reuters, stocks, ended, slightly, higher, friday, stayed, near, lows, year, oil, prices, surged, past, 36, 46, barrel, offsetting, positive, outlook, computer, maker, dell, inc, dell, o]               |[{positive, 0.18127557126337487}, {46, 0.2067185029184427}, {o, 0.1405921241478995}, {end, 0.1131018693698805}, {year, 0.16492932872045324}, {friday, 0.09051819454875144}, {outlook, 0.15994024564769707}, {computer, 0.12125053715366763}, {36, 0.145856640464541}, {barrel, 0.15591601639460734}, {inc, 0.0925193542091254}, {maker, 0.12413070044238618}, {surged, 0.19042797405490253}, {slightly, 0.17676052180852383}, {stocks, 0.22465153652572792}, {prices, 0.10854419401585633}, {dell, 0.35254772027561204}, {ended, 0.15552292945064294}, {reuters, 0.13924134667488183}, {past, 0.13552111644471848}, {lows, 0.3919911697751357}, {offsetting, 0.27225416288029386}, {higher, 0.13245598339561715}, {near, 0.27092999101551124}, {oil, 0.10431117828830276}, {stayed, 0.21601464260731984}]        |
|71169|[red, sox, lead, 2, 0, cardinals, world, series, host, boston, red, sox, scored, 6, 2, victory, st, louis, cardinals, helped, curt, schilling, 39, pitching, pain, seeping, blood, world, series, game, 2, sunday, night]                         |[{cardinals, 0.34226715558354315}, {sox, 0.27497052180376313}, {pitching, 0.20172088551723116}, {0, 0.12010549402132187}, {boston, 0.13400988786643303}, {seeping, 0.3019665509292355}, {scored, 0.14363775654541236}, {victory, 0.11168938063954571}, {game, 0.09853136483972298}, {2, 0.28168035138336517}, {st, 0.14098519869409998}, {sunday, 0.09763087949406042}, {pain, 0.19408477322475032}, {6, 0.11531662101272289}, {night, 0.10429768092752335}, {red, 0.2494576862726783}, {host, 0.16911479938748683}, {series, 0.24526659305688864}, {louis, 0.16472385926188618}, {curt, 0.1977438494860073}, {helped, 0.1516834600289717}, {schilling, 0.19540569553004916}, {world, 0.16967638411902877}, {lead, 0.11680418495807209}, {39, 0.04216702150299369}, {blood, 0.1865011160307008}]                 |
|71170|[arizona, cardinals, 25, seattle, seahawks, 17, opportunity, arose, seize, day, seattle, seahawks, looked, ready, mausoleum, carpe, diem, seahawks, couldn, 39, take, advantage, prime, chance]                                                   |[{day, 0.14337871526368956}, {cardinals, 0.2353086694636859}, {looked, 0.24785471499634928}, {seahawks, 0.8527727145952668}, {take, 0.16116442190461716}, {arose, 0.4032172545088746}, {seattle, 0.43633621019451085}, {diem, 0.48986065207886775}, {25, 0.19863834932992777}, {advantage, 0.255526589321062}, {seize, 0.29715345152535644}, {prime, 0.16235294135086087}, {ready, 0.2067528778756803}, {opportunity, 0.2512419959294012}, {mausoleum, 0.4320983870322056}, {17, 0.19382042506762434}, {arizona, 0.24589932198709996}, {couldn, 0.2703665621178958}, {carpe, 0.48986065207886775}, {chance, 0.21878631624019157}, {39, 0.057979654566616315}]                                                                                                                                                    |
+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [39]:
def innerterm(x_i, y_i, w, b): #making the whole weird sum mumbo jumbo
    dot = float(np.dot(w, x_i)) + b #computes w^T x_i + b
    margin = y_i * dot #computes y_i(w^T x_i + b)
    return max(0.0, 1.0 - margin) #computes max(0, 1 - margin)


def reduce_sum(values):
    return sum(values) #using this so it can be used for mapping function later

def loss_SVM(w, b, X, y, lambda_=1):
    n = len(X) #number of terms
    inner_term = [innerterm(x_i, y_i, w, b) for x_i, y_i in zip(X, y)] #compute innter term for values of X and y
    avg_hinge = reduce_sum(inner_term) / n #getting the sum divided by n
    reg = lambda_ * np.sum(w ** 2) #getting the first term
    return reg + avg_hinge #return total sum

def predict_SVM(w, b, X):
    scores = X @ w + b  # w^T x_i + b
    y_pred = np.where(scores >= 0, 1, -1) #using a where function to result in correct mapping
    return y_pred

In [40]:
!curl https://raw.githubusercontent.com/mosesyhc/de300-2025sp-class/refs/heads/main/w.csv -O
!curl https://raw.githubusercontent.com/mosesyhc/de300-2025sp-class/refs/heads/main/bias.csv -O
!curl https://raw.githubusercontent.com/mosesyhc/de300-2025sp-class/refs/heads/main/data_for_svm.csv -O

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1391  100  1391    0     0   7803      0 --:--:-- --:--:-- --:--:--  7814
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    22  100    22    0     0    160      0 --:--:-- --:--:-- --:--:--   160
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 61.9M  100 61.9M    0     0  77.0M      0 --:--:-- --:--:-- --:--:-- 77.0M

In [41]:
# This is an example to read the files. But you should consider using pyspark directly.
# *Make sure you are not assuming a header*!!
import pandas as pd
data_svm = pd.read_csv('data_for_svm.csv', header=None)
w = pd.read_csv('w.csv', header=None)
bias = pd.read_csv('bias.csv', header=None)

In [42]:
bias

         0
0  0.00015

In [43]:
data_svm

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,-1,-1,1,1,-1,1,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,1,-1
1,1,1,-1,1,-1,-1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,1,1,-1,1
2,1,1,1,-1,1,1,-1,1,-1,1,...,-1,-1,-1,-1,-1,-1,1,1,1,1
3,1,-1,1,-1,-1,-1,-1,-1,-1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,-1,1,-1,1,-1,-1,1,1,1,...,1,1,1,1,1,1,1,1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,-1,-1,1,-1,-1,-1,1,1,1,-1,...,1,1,1,1,1,-1,1,1,-1,1
399996,1,-1,1,1,-1,-1,1,1,1,1,...,1,1,1,1,1,-1,1,-1,-1,1
399997,1,-1,1,1,-1,1,1,-1,1,1,...,-1,-1,-1,-1,-1,1,1,-1,-1,1
399998,1,-1,1,-1,1,-1,1,1,1,1,...,1,1,1,1,1,1,-1,1,1,-1
399999,1,1,-1,-1,-1,-1,1,-1,1,1,...,1,1,1,1,1,1,-1,1,-1,1

In [44]:
import numpy as np


# Convert w and b
w_vec = w.values.flatten() #turns into a flat vector
b_val = float(bias.values[0][0])  # single float, it is currently stored in a 1 by 1 matrix

# Split data
X = data_svm.iloc[:, :-1].values  # shape: (n, 64), select all but last column
y = data_svm.iloc[:, -1].values   # shape: (n,), select the last column (response)

# X, w_vec, and b_val already prepared
y_pred = predict_SVM(w_vec, b_val, X) #pass in to function

# Preview predictions
print(y_pred[:10])

[-1 -1 -1  1 -1  1 -1 -1  1 -1]

In [45]:
loss = loss_SVM(w_vec, b_val, X, y)
print("SVM loss:", loss)

SVM loss: 1.0029403834857364

In [46]:
accuracy = np.mean(y_pred == y)
print("Accuracy:", accuracy)

Accuracy: 0.5020625