In [3]:
import boto3
from io import BytesIO
import pandas as pd

In [4]:
df = pd.read_csv("sample_dataset.csv")
print(df.head())

  first_name last_name  age  gender      occupation           city state
0       John       Doe   30    Male        Engineer       New York    NY
1       Jane       Doe   28  Female        Engineer    Los Angeles    CA
2        Bob     Smith   45    Male         Analyst        Chicago    IL
3      Alice   Johnson   35  Female  Data Scientist  San Francisco    CA
4        Tom     Brown   50    Male          Lawyer          Miami    FL